[submodule "ThreadTrail"]
	path = ThreadTrail
	url = git@github.com:drindr/ThreadTrail.git
[submodule "dsh-terminal"]
	path = dsh-terminal
	url = git@github.com:drindr/dsh-terminal.git
[submodule "dsh-mobile"]
	path = dsh-mobile
	url = git@github.com:drindr/dsh-mobile.git
[submodule "dsh-rerun"]
	path = dsh-rerun
	url = git@github.com:drindr/dsh-rerun.git
[submodule "dsh-codex"]
	path = dsh-codex
	url = https://github.com/Yan-Zero/dsh-codex.git
[submodule "provider-proxy"]
	path = provider-proxy
	url = https://github.com/drindr/dsh-provider-proxy.git
